@using IcucApp.Presentation.ViewModels
@model InfoViewModel
@inherits IcucApp.Core.UI.Web.TemplateBase
<html>
<style type="text/css">
  body {
    // background-color: #fff; 
    color:#333333; 
    font-family: "Helvetica Neue", Helvetica; 
  }
</style>
<body> 
	<!-- <H1>@Model.Title</H1>  -->
	@Html.Raw(Model.Content)
</body>
</html>