<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>CFBundleDisplayName</key>
	<string>ICUC</string>
	<key>CFBundleVersion</key>
	<string>1.0.3</string>
	<key>CFBundleIdentifier</key>
	<string>com.euri.test1</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon@2x</string>
		<string>Icon-72</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small-50</string>
	</array>
	<key>App.InfoPageFeed</key>
	<string></string>
	<key>App.FacebookFeedUrl</key>
	<string></string>
	<key>App.NewsFeedUrl</key>
	<string></string>
	<key>App.LineupFeedUrl</key>
	<string></string>
	<key>App.TicketUrl</key>
	<string>https://m.ticketscript.com/channel/web2/start-order/rid/3JB82HDY/language/nl</string>
</dict>
</plist>
